<section id="portfolio">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Portfolio</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3">
        <app-rating></app-rating>
        <a class="portfolio-item" style="background-image: url(https://images6.alphacoders.com/317/thumb-1920-317793.jpg);" href="">
          <div class="details">
            <h4>Portfolio 1</h4>
            <span>Alored dono par</span>
          </div>
        </a>

      </div>

      <div class="col-md-3">
        <app-rating></app-rating>
        <a class="portfolio-item" style="background-image: url(https://images3.alphacoders.com/823/thumb-1920-82317.jpg);" href="">

          <div class="details">
            <h4>Portfolio 2</h4>
            <span>Alored dono par</span>
          </div>
        </a>

      </div>

      <div class="col-md-3">
        <app-rating></app-rating>
        <a class="portfolio-item" style="background-image: url(https://images2.alphacoders.com/518/thumb-1920-518211.jpg);" routerLink="/pej1">
          <div class="details">
            <h4>ՏՈՒՐԻԶՄԸ ՀԱՅԱՍՏԱՆՈՒՄ </h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <app-rating></app-rating>
        <a class="portfolio-item" style="background-image: url(https://images6.alphacoders.com/330/thumb-1920-330563.jpg);" routerLink="/pej1">
          <div class="details">
            <h4>ՏՈՒՐԻԶՄԸ ՀԱՅԱՍՏԱՆՈՒՄ 2018</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <app-rating></app-rating>
        <a class="portfolio-item" style="background-image: url(https://images5.alphacoders.com/312/thumb-1920-312780.jpg);" href="">
          <div class="details">
            <h4>Portfolio 5</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <app-rating></app-rating>
        <a class="portfolio-item" style="background-image: url(https://images2.alphacoders.com/868/thumb-1920-86862.jpg);" href="">
          <div class="details">
            <h4>Portfolio 6</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <app-rating></app-rating>
        <a class="portfolio-item" style="background-image: url(https://images4.alphacoders.com/612/thumb-1920-612630.jpg);" href="">
          <div class="details">
            <h4>Portfolio 7</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <app-rating></app-rating>
        <a class="portfolio-item" style="background-image: url(https://images8.alphacoders.com/612/thumb-1920-612641.jpg);" href="">
          <div class="details">
            <h4>Portfolio 8</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</section>


<!--
  <div class="column">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/falls2.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/mist.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
  <div class="column">
    <img src="/w3images/underwater.jpg" style="width:100%">
    <img src="/w3images/ocean.jpg" style="width:100%">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="/w3images/mountainskies.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/underwater.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/falls2.jpg" style="width:100%">
    <img src="/w3images/paris.jpg" style="width:100%">
    <img src="/w3images/nature.jpg" style="width:100%">
    <img src="/w3images/mist.jpg" style="width:100%">
    <img src="/w3images/paris.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/w3images/underwater.jpg" style="width:100%">
    <img src="/w3images/ocean.jpg" style="width:100%">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="/w3images/mountainskies.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/underwater.jpg" style="width:100%">
  </div>
</div>-->
