<header id="header" >
  <button type="button" id="mobile-nav-toggle" class="navbar-togglle" data-toggle="collapse" >
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="#hero"><img src="https://t3.ftcdn.net/jpg/00/84/62/22/500_F_84622293_8QR3Fk4H26DD05zGaSSmt5T0mJlFWKQU.jpg" alt="" title="" /></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">

        <li class="menu-active"><a href="#hero"  routerLink="/hom">Home</a></li>
        <li><a  routerLink="/abut">About Us</a></li>
        <li><a  routerLink="/cont">Testimonials</a></li>
        <li><a  routerLink="/img">Resons </a></li>
        <li><a  routerLink="/Sub">Services</a></li>
        <li><a  routerLink="/Test">Team</a></li>
        <li><a  routerLink="/cont">Contact</a></li>
        <li><a  routerLink="/map">Map</a></li>
      </ul>
    </nav>

  </div>
</header>