<section  id="subscribe">
  <div  class="container wow fadeInUp" style="visibility: visible;">
    <div class="col-md-8">
      <h3  class="subscribe-title">Subscribe For Updates</h3>
      <p  class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
    </div>
    <div  class="form">
      <form  novalidate="" ng-reflect-form="[object Object]" class="ng-untouched ng-pristine ng-invalid">
        <div  class="form-group">
          <input  class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="email" id="email" placeholder="email" required="" type="email" ng-reflect-required="" ng-reflect-name="email">

        </div>
      </form>
    </div>
    <div  class="col-md-4 subscribe-btn-container">
      <button  class="btn btn-block" type="button" value="Subscribe Now" disabled="">subscribe</button>
    </div>
  </div>
</section>