
<footer class="page-footer font-small indigo pt-0" id="footer">


    <div class="container">


        <div class="row">


            <div class="col-md-12">

                    <a href="http://www.facebook.com/share.php?u=https://coursetro.com/posts/code/67/Angular-4-Material-Tutorial&amp;title=Angular 4 Material Tutorial" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="https://coursetro.com/images/share-fb.png"></a>
                    <a href="http://twitter.com/share?url=https://coursetro.com/posts/code/67/Angular-4-Material-Tutorial&amp;text=Angular 4 Material Tutorial" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="https://coursetro.com/images/share-tw.png"></a>
                    <a href="http://ok.ru/share?url=https://coursetro.com/posts/code/67/Angular-4-Material-Tutorial&amp;text=Angular 4 Material Tutorial" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="http://uslugimail.cc/img/team/6.png" height="60px" width="60px"></a>
                    <a href="http://vk.com/share?url=https://coursetro.com/posts/code/67/Angular-4-Material-Tutorial&amp;text=Angular 4 Material Tutorial" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="http://uslugimail.cc/img/team/5.png" height="50px" width="50px"></a>
                </div>
            </div>

        </div>




    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2016 Copyright: <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> MDBootstrap.com </a>
        </div>
    </div>


</footer>

